body {
    background-color: lightgray;
    padding: 0;
    margin: 0;
}

.container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;

    justify-content: center;
    align-items: center;
}

.top { 
    background-color: rgb(47, 73, 152); 
    color: white; 
    padding: 10px; 
    text-align: center;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#selectList {
  color : rgb(27, 47, 107);
}

/* 버튼 */
button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(47, 73, 152); 
  color: white;
}

button:hover {
  opacity: 0.8;
}

.btn:active {
  transform: scale(0.95);
}

/* 인풋 */
input[type="text"] {
    width: 100%;
    max-width: 300px;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

#element { 
  width: 100px;
  height: 100px;
  border : 3px solid black;
}

/* 사이드바 */
aside {
    width: 200px;
    height: 100vh;
    background-color: rgb(47, 73, 152);
    position: fixed;
    top: 0;
    right: -200px; /* 초기 위치 */
    transition: .7s;
    z-index: 100;
    color : white;

    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    box-sizing: border-box;
}

aside.active {
    right: 0px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: .7s;
    z-index: 99;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

/* hamburger */
.menu-icon {
    display: flex;
    flex-direction: column;
    width: 28px;
    cursor: pointer;
}

.menu-icon div {
    background-color: white;
    height: 4px;
    margin: 2px 0;
}
